body {
margin: 0;
overflow-y: hidden;
background-color: #f7f7f7;	/* **	FFFAF0 floral, F0FFFF azure, FFF5EE sea shell, F4FAFA blueish ** */
}

.Container {
position: absolute;
top: 0px;
width: 100%;
height: 100%;
background-color: white;
border-radius: 2px;
}

/*	**		TOOLBAR		**	*/
.Toolbar {
position: absolute;
top: 0px;
width: 100%;
height: 60px;
background: #FFFAF0;
-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
z-index: 1;
}

.ToolButton {
position: absolute;
width: 60px;
height: 100%;
background: #FFFAF0;
}

.ToolbarImg {
width: 60%;
height: 60%;
position: absolute;
border-radius: 50%;
top: 20%;
left: 20%;
background: #FFFAF0;
border: solid 1px white;
-webkit-transition: transform 1s;
}

.ToolbarImg:hover {
cursor: pointer;
}

.ToolbarImg img {
position: absolute;
top: 15%;
left: 15%;
height: 70%;
width: 70%;
}

.NotifButton {
right: 10px;
}

.AddButton {
left: 10px;
}

.HiddenMenu {
position: absolute;
height: 400%;
background-color: transparent;
}

.MenuButton {
position: relative;
display: block;
left: 10px;
width: 80%;
height: 25%;
}

.MenuImg {
width: 60%;
height: 60%;
position: absolute;
border-radius: 50%;
top: 20%;
left: 20%;
background: #FFFAF0;
-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.MenuImg:hover {
cursor: pointer;
}

.MenuImg img {
position: absolute;
top: 15%;
left: 15%;
height: 70%;
width: 70%;
}

.AddMenu {
top: -300%;
width: 80px;
-webkit-transition: top 1s;
z-index: -1;
}

.NotifMenu {
top: 110%;
width: 0px;
right: 10px;
-webkit-transition: width 1s, height 1s;
height: 0%;
border-radius: 5px;
background-color: pink;
}

.NotifWrapper {
position: relative;
display: block;
width: 100%;
height: 25%;
}

/*	**		Searchbar		**	*/
.Searchbar {
display: inline;
width: 45%;
height: 100%;
position: absolute;
top: 0%;
left: 30%;
}

@import "compass/css3";

.Flexsearch {
	height: 100%;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	margin: 0;
	position: static;
}
	
.Flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.Flexsearch--input-wrapper {
	padding: 0px 66px 10px 5px; /* Right padding for submit button width */
	overflow: hidden;
}

.Flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/

.Flexsearch--input {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
height: 30px;
padding: 0 46px 0 10px;
border-color: #888;
border-radius: 17px; /* (height/2) + border-width */
border-style: solid;
border-width: 2px;
margin-top: 15px;
color: #333;
font-family: 'Calibri Light', sans-serif;
font-size: 14px;
-webkit-appearance: none;
-moz-appearance: none;
/*
-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
*/
}
	
.Flexsearch--submit {
position: absolute;
right: 0;
top: 0;
display: block;
width: 60px;
height: 30px;
padding: 0;
border: none;
margin-top: 16px; /* margin-top + border-width */
margin-right: 5px; /* border-width */
background: transparent;
color: #888;
font-family: 'Calibri Light', sans-serif;
font-size: 40px;
line-height: 34px;
}

.Flexsearch--input:focus {
outline: none;
border-color: blue;
}

.Flexsearch--input:focus.Flexsearch--submit {
color: blue; 
}

.Flexsearch--input:hover {
outline: none;
border-color: blue;
}

.Flexsearch--submit:hover {
color: blue;
cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}

/* **		NOTES		** */
.Notes {
margin: 0;
position: absolute;
top: 12%;
left: 10%;
width: 80%;
height: 100%;
background-color: white;
border-radius: 2px;
}

.one-note {
float:left;
width: 18%;
height: 250px;
border: 2px solid;
margin-left: 15px;
margin-top: 15px;

}

.one-row{
margin-left: 0px;
margin-top: 0px;
width: 100%;
height: 265px;

}

.module_holder {
    background-color: #09C;
    width: 200px;
    height: 100px;
    padding: 4px;
}

.module_item {
    background-color: #069;
    width: 100px;
    padding: 2px;
    height: 5px;
}